<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.mapper.ExerciseMapper">

    <select id="findAll" parameterType="string" resultType="com.yq.po.Exercise">
        select *from exercise
    </select>
    <select id="info" resultType="com.yq.po.Exercise">
        select *
        from exercise;
    </select>

</mapper>