<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/update_save}" method="post" th:each="user:${users}">
  <table border="1">
    <tr>
      <th>信息更新</th>
    </tr>
    <tr>
      <td><input name="id" type="hidden" th:value="${user.id}"></td>
    </tr>
    <tr>
      <td>学号：<input name="number" type="text" th:value="${user.number}" readonly></td>
    </tr>
    <tr>
      <td>姓名：<input type="text" name="name" th:value="${user.name}"></td>
    </tr>
    <tr>
      <td>性别：<input type="text" name="gender" th:value="${user.gender}"></td>
    </tr>
    <tr>
      <td>年龄：<input type="number" name="age" th:value="${user.age}"></td>
    </tr>
    <tr>
      <th><input type="submit" value="更新"></th>
    </tr>
  </table>
</form>
</body>
</html>