<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.txdata.modules.daily.dao.DailyArrangeDao">

    <sql id="dailyArrangeColumns">
    	b.`id` AS "id",
    	b.`daily_id` AS "dailyId",
    	b.`daily_task_type` AS "dailyTaskType",
    	b.`remarks` AS "remarks",
    	b.`finish_date` AS "finishDate",
    	b.`create_by` AS "createBy",
    	b.`create_date` AS "createDate",
    	b.`update_by` AS "updateBy",
    	b.`update_date` AS "updateDate",
    	b.`sort` AS "sort"
    </sql>
    
    <sql id="leftJion">
    </sql>
    
	<select id="get" resultType="DailyArrangeDO">
		SELECT  
		<include refid="dailyArrangeColumns"/>
		FROM t_daily_arrange a
		<include refid="leftJion"/>
		WHERE b.id = #{value}
	</select>

	<select id="list" resultType="DailyArrangeDO">
		SELECT 
        <include refid="dailyArrangeColumns"/>
        FROM t_daily_arrange a
        <include refid="leftJion"/>
        <where> 
           <if test="entity.id != null and entity.id != ''"> 
		  		AND b.id = #{entity.id}
		   </if>		
           <if test="entity.dailyId != null and entity.dailyId != ''"> 
		  		AND b.daily_id = #{entity.dailyId}
		   </if>		
           <if test="entity.dailyTaskType != null and entity.dailyTaskType != ''"> 
		  		AND b.daily_task_type = #{entity.dailyTaskType}
		   </if>		
           <if test="entity.remarks != null and entity.remarks != ''"> 
		  		AND b.remarks = #{entity.remarks}
		   </if>		
           <if test="entity.finishDate != null and entity.finishDate != ''"> 
		  		AND b.finish_date = #{entity.finishDate}
		   </if>		
           <if test="entity.createBy != null and entity.createBy != ''"> 
		  		AND b.create_by = #{entity.createBy}
		   </if>		
           <if test="entity.createDate != null and entity.createDate != ''"> 
		  		AND b.create_date = #{entity.createDate}
		   </if>		
           <if test="entity.updateBy != null and entity.updateBy != ''"> 
		  		AND b.update_by = #{entity.updateBy}
		   </if>		
           <if test="entity.updateDate != null and entity.updateDate != ''"> 
		  		AND b.update_date = #{entity.updateDate}
		   </if>		
           <if test="entity.sort != null and entity.sort != ''"> 
		  		AND b.sort = #{entity.sort}
		   </if>		
		</where>
        ORDER BY b.update_date DESC,b.id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO t_daily_arrange
		<trim prefix="(" suffix=")" suffixOverrides="," >
					<if test="id != null">`id`,</if>
					<if test="dailyId != null">`daily_id`,</if>
					<if test="dailyTaskType != null">`daily_task_type`,</if>
					<if test="remarks != null">`remarks`,</if>
					<if test="finishDate != null">`finish_date`,</if>
					<if test="createBy != null">`create_by`,</if>
					<if test="createDate != null">`create_date`,</if>
					<if test="updateBy != null">`update_by`,</if>
					<if test="updateDate != null">`update_date`,</if>
					<if test="sort != null">`sort`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null">#{id},</if>
			<if test="dailyId != null">#{dailyId},</if>
			<if test="dailyTaskType != null">#{dailyTaskType},</if>
			<if test="remarks != null">#{remarks},</if>
			<if test="finishDate != null">#{finishDate},</if>
			<if test="createBy != null">#{createBy},</if>
			<if test="createDate != null">#{createDate},</if>
			<if test="updateBy != null">#{updateBy},</if>
			<if test="updateDate != null">#{updateDate},</if>
			<if test="sort != null">#{sort},</if>
		</trim>
	</insert>
	 
	<update id="update">
		UPDATE t_daily_arrange 
		<set>
			<if test="dailyId != null">`daily_id` = #{dailyId}</if>
			<if test="dailyTaskType != null">`daily_task_type` = #{dailyTaskType}</if>
			<if test="remarks != null">`remarks` = #{remarks}</if>
			<if test="finishDate != null">`finish_date` = #{finishDate}</if>
			<if test="createBy != null">`create_by` = #{createBy}</if>
			<if test="createDate != null">`create_date` = #{createDate}</if>
			<if test="updateBy != null">`update_by` = #{updateBy}</if>
			<if test="updateDate != null">`update_date` = #{updateDate}</if>
			<if test="sort != null">`sort` = #{sort}</if>
		</set>
		WHERE id = #{id} 
	</update>
	
	<update id="remove">
		UPDATE t_daily_arrange 
		SET `del_flag` = '1'
		WHERE id = #{value}
	</update>
	
	<update id="batchRemove">
		UPDATE t_daily_arrange 
		SET `del_flag` = '1'
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>
	
	<delete id="delete">
		DELETE FROM t_daily_arrange 
		WHERE id = #{value}
	</delete>
	
	<delete id="batchDelete">
		DELETE FROM t_daily_arrange 
		WHERE id IN 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<insert id="batchInsert">
		INSERT INTO t_daily_arrange
		(
			`id`,
			`daily_id`,
			`daily_task_type`,
			`remarks`,
			`finish_date`,
			`create_by`,
			`create_date`,
			`update_by`,
			`update_date`,
			`sort`
		)
		VALUES
		<foreach item="dailyArrange" collection="list" separator=",">
		(
			#{dailyArrange.id},
			#{dailyArrange.dailyId},
			#{dailyArrange.dailyTaskType},
			#{dailyArrange.remarks},
			#{dailyArrange.finishDate},
			#{dailyArrange.createBy},
			#{dailyArrange.createDate},
			#{dailyArrange.updateBy},
			#{dailyArrange.updateDate},
			#{dailyArrange.sort}
		)
		</foreach>
	</insert>
	 
	<update id="batchUpdate">
		<foreach item="dailyArrange" collection="list" separator=";">
			UPDATE t_daily_arrange 
			<set>
				<if test="dailyArrange.dailyId != null">`daily_id` = #{dailyArrange.dailyId},</if>
				<if test="dailyArrange.dailyTaskType != null">`daily_task_type` = #{dailyArrange.dailyTaskType},</if>
				<if test="dailyArrange.remarks != null">`remarks` = #{dailyArrange.remarks},</if>
				<if test="dailyArrange.finishDate != null">`finish_date` = #{dailyArrange.finishDate},</if>
				<if test="dailyArrange.createBy != null">`create_by` = #{dailyArrange.createBy},</if>
				<if test="dailyArrange.createDate != null">`create_date` = #{dailyArrange.createDate},</if>
				<if test="dailyArrange.updateBy != null">`update_by` = #{dailyArrange.updateBy},</if>
				<if test="dailyArrange.updateDate != null">`update_date` = #{dailyArrange.updateDate},</if>
				<if test="dailyArrange.sort != null">`sort` = #{dailyArrange.sort}</if>
			</set>
			WHERE id = #{dailyArrange.id} 
		</foreach>
	</update>
	
	<update id="updateByWhere">
		UPDATE t_daily_arrange 
		<set>
			<if test="param.dailyId != null">`daily_id` = #{param.dailyId},</if>
			<if test="param.dailyTaskType != null">`daily_task_type` = #{param.dailyTaskType},</if>
			<if test="param.remarks != null">`remarks` = #{param.remarks},</if>
			<if test="param.finishDate != null">`finish_date` = #{param.finishDate},</if>
			<if test="param.createBy != null">`create_by` = #{param.createBy},</if>
			<if test="param.createDate != null">`create_date` = #{param.createDate},</if>
			<if test="param.updateBy != null">`update_by` = #{param.updateBy},</if>
			<if test="param.updateDate != null">`update_date` = #{param.updateDate},</if>
			<if test="param.sort != null">`sort` = #{param.sort}</if>
		</set>
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.dailyId != null and where.dailyId != ''"> 
		  		AND daily_id = #{where.dailyId}
		   </if>
           <if test="where.dailyTaskType != null and where.dailyTaskType != ''"> 
		  		AND daily_task_type = #{where.dailyTaskType}
		   </if>
           <if test="where.remarks != null and where.remarks != ''"> 
		  		AND remarks = #{where.remarks}
		   </if>
           <if test="where.finishDate != null and where.finishDate != ''"> 
		  		AND finish_date = #{where.finishDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
		</where>
	</update>
	
	<update id="removeByWhere">
		UPDATE t_daily_arrange 
		SET `del_flag` = '1'
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.dailyId != null and where.dailyId != ''"> 
		  		AND daily_id = #{where.dailyId}
		   </if>
           <if test="where.dailyTaskType != null and where.dailyTaskType != ''"> 
		  		AND daily_task_type = #{where.dailyTaskType}
		   </if>
           <if test="where.remarks != null and where.remarks != ''"> 
		  		AND remarks = #{where.remarks}
		   </if>
           <if test="where.finishDate != null and where.finishDate != ''"> 
		  		AND finish_date = #{where.finishDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
		</where>
	</update>
	
	<delete id="deleteByWhere">
		DELETE FROM t_daily_arrange 
		<where> 
           <if test="where.id != null and where.id != ''"> 
		  		AND id = #{where.id}
		   </if>
           <if test="where.dailyId != null and where.dailyId != ''"> 
		  		AND daily_id = #{where.dailyId}
		   </if>
           <if test="where.dailyTaskType != null and where.dailyTaskType != ''"> 
		  		AND daily_task_type = #{where.dailyTaskType}
		   </if>
           <if test="where.remarks != null and where.remarks != ''"> 
		  		AND remarks = #{where.remarks}
		   </if>
           <if test="where.finishDate != null and where.finishDate != ''"> 
		  		AND finish_date = #{where.finishDate}
		   </if>
           <if test="where.createBy != null and where.createBy != ''"> 
		  		AND create_by = #{where.createBy}
		   </if>
           <if test="where.createDate != null and where.createDate != ''"> 
		  		AND create_date = #{where.createDate}
		   </if>
           <if test="where.updateBy != null and where.updateBy != ''"> 
		  		AND update_by = #{where.updateBy}
		   </if>
           <if test="where.updateDate != null and where.updateDate != ''"> 
		  		AND update_date = #{where.updateDate}
		   </if>
           <if test="where.sort != null and where.sort != ''"> 
		  		AND sort = #{where.sort}
		   </if>
		</where>
	</delete>
</mapper>