<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring cloud-provider-8002:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_cloud_provider_8002_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring cloud-provider-8002/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring cloud-provider-8002" />
        </element>
      </element>
    </root>
  </artifact>
</component>