<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--输出到控制台-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.txdata" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <root level="debug">
        <appender-ref ref="Console"/>
    </root>
</configuration>