<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.aop.mapper.SysLogMapper">

    <select id="findAll" resultType="hashMap">
        select * from log order by create_time desc
    </select>

    <insert id="save" parameterType="sysLog">
        insert into log values (#{id},#{account},#{ip},#{createTime},#{url},#{method})
    </insert>
</mapper>