<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="app-ui">

<head>

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- Document title -->
    <title>登录</title>

    <meta name="description" content="AppUI - Frontend Template & UI Framework" />
    <meta name="robots" content="noindex, nofollow" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" th:href="@{/static/assets/img/favicons/apple-touch-icon.png}" />
    <link rel="icon" th:href="@{/static/assets/img/favicons/favicon.ico}" />

    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" th:href="@{/static/assets/css/font-awesome.css}" />
    <link rel="stylesheet" id="css-ionicons" th:href="@{/static/assets/css/ionicons.css}" />
    <link rel="stylesheet" id="css-bootstrap" th:href="@{/static/assets/css/bootstrap.css}" />
    <link rel="stylesheet" id="css-app" th:href="@{/static/assets/css/app.css}" />
    <link rel="stylesheet" id="css-app-custom" th:href="@{/static/assets/css/app-custom.css}" />
    <!-- End Stylesheets -->
</head>

<body class="app-ui">
<div class="app-layout-canvas">
    <div class="app-layout-container">


        <main class="app-layout-content">

            <!-- Page header -->
            <div class="page-header bg-green bg-inverse">
                <div class="container">
                    <!-- Section Content -->
                    <div class="p-y-lg text-center">
                        <h1 class="display-2">CRM客户管理系统</h1>
                    </div>
                    <!-- End Section Content -->
                </div>
            </div>
            <!-- End Page header -->

            <!-- Page content -->
            <div class="page-content" >
                <div class="container">
                    <div class="row">
                        <!-- Login card -->
                        <div class="col-md-6 col-md-offset-3" >
                            <div class="card">
                                <h3 class="card-header h4">Login</h3>
                                <div class="card-block">
                                    <form action="check" method="post">
                                        <div class="form-group">
                                            <label class="sr-only" for="frontend_login_email">用户名</label>
                                            <input name="account" type="text" class="form-control" id="frontend_login_email" placeholder="Account" />
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="frontend_login_password">密码</label>
                                            <input name="password"  type="password" class="form-control" id="frontend_login_password" placeholder="Password" />
                                        </div>
                                        <button type="submit" class="btn btn-app btn-block" id="sub">登录</button>
                                    </form>
                                    <div style="color: #ff0000" th:text="${message}"></div>
                                </div>
                                <!-- .card-block -->
                            </div>
                            <!-- .card -->
                        </div>
                        <!-- .col-md-6 -->
                        <!-- End login -->



                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </div>
            <!-- End page content -->



        </main>



    </div>
    <!-- .app-layout-container -->
</div>
<!-- .app-layout-canvas -->

<!-- Apps Modal -->
<!-- Opens from the button in the header -->
<div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-sm modal-dialog modal-dialog-top">
        <div class="modal-content">
            <!-- Apps card -->
            <div class="card m-b-0">
                <div class="card-header bg-app bg-inverse">
                    <h4>Apps</h4>
                    <ul class="card-actions">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="card-block">
                    <div class="row text-center">
                        <div class="col-xs-6">
                            <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                                <i class="ion-speedometer fa-4x"></i>
                                <p>Admin</p>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                                <i class="ion-laptop fa-4x"></i>
                                <p>Frontend</p>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- .card-block -->
            </div>
            <!-- End Apps card -->
        </div>
    </div>
</div>
<!-- End Apps Modal -->

<!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
<script th:src="@{/static/assets/js/core/jquery.min.js}"></script>
<script th:src="@{/static/assets/js/core/bootstrap.min.js}"></script>
<script th:src="@{/static/assets/js/core/jquery.slimscroll.min.js}"></script>
<script th:src="@{/static/assets/js/core/jquery.scrollLock.min.js}"></script>
<script th:src="@{/static/assets/js/core/jquery.placeholder.min.js}"></script>
<script th:src="@{/static/assets/js/app.js}"></script>
<script th:src="@{/static/assets/js/app-custom.js}"></script>
<script>

    $(function(){
        $("[name=account]").focus();
        $("#sub").click(function(){
            var account = $("[name=account]").val();
            var password = $("[name=password]").val();
            if(account==""){
                alert("用户名不能为空");
                return false;
            }
            if(password==""){
                alert("密码不能为空");
                return false;
            }
        });
    });



</script>
</body>

</html>